body{
    background-color: rgb(218, 211, 211);
    margin: 0%;
}
header {
    background-color: rgb(119, 65, 81);
    color: rgba(253, 253, 253, 0.917);
    height: 100px;
    text-align: center;

}
header nav{ 
    float: right;
    width: 25%;
    margin-top: 25px;
}

header h1 { 
    float: left;
    margin: 30px 0 0 5%;
}
header h2 {
    display: inline-block;
    margin-left: 2%;

}

#first {
    width: 70%;
    height: 100px;
    background-color: rgba(156, 89, 130, 0.5);
    text-align: center;
    font-weight: bold;
    margin: 40px 0 30px 15%;
}
#first p {
    font-size: 40px;
    padding-top: 30px;
    color: rgba(235, 223, 223, 0.917);
}

footer {
    background-color: rgb(121, 71, 108) ;
    color: rgba(253, 253, 253, 0.917);
    height: 100px;
}

footer p{
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
    line-height: 100px;
}  